{% extends 'base.html' %}
{% block title %}Detalles del Pokémon{% endblock title %}   

{% block content %}
<div class="pokedex-box shadow-sm">
    <h3 class="fw-bold text-center mb-4">Detalles de la Criatura</h3>
    <p class="text-muted text-center mb-4">Has elegido al Pokémon: <strong class="text-dark">{{ pokemon.name | capfirst }}</strong></p>
    
    <ul class="list-group shadow-sm mb-4">
        <li class="list-group-item d-flex justify-content-between">
            <span><strong>Nombre:</strong></span> 
            <span>{{ pokemon.name | capfirst }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span><strong>Tipo:</strong></span> 
            <span class="badge bg-primary pt-2 px-3" style="border-radius: 15px;">{{ pokemon.type | capfirst }}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span><strong>Altura:</strong></span> 
            <span>{{ pokemon.height }} cm</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span><strong>Peso:</strong></span> 
            <span>{{ pokemon.weight }} kg</span>
        </li>
        <li class="list-group-item d-flex justify-content-between">
            <span><strong>Entrenador:</strong></span> 
            <span>{{ pokemon.trainer | capfirst }}</span>
        </li>
    </ul>  
    
    <div class="text-center">
        <a href="{% url 'pokedex:index' %}" class="btn btn-secondary px-4" style="border-radius: 25px;">Volver al Inicio</a>
    </div>
</div>
{% endblock content %}