{% extends 'base.html' %}
{% block title %}Detalles del entrenador{% endblock title %}    
{% block content  %}
            <p>Has elegido el entrenador: <strong>{{ trainer | capfirst }}</strong></p>
       <ul class="list-group">
                <li class="list-group-item">
                 <strong>Nivel:</strong> {{ trainer.level | capfirst }}
                <li class="list-group-item">
                 <strong>Fecha de nacimiento:</strong> {{ trainer.birth_date | capfirst }}
                </li>
                <li class="list-group-item">
                 <strong>Altura:</strong> {{ pokemon.height | capfirst }}
                 <li class="list-group-item">
                 <strong>Peso:</strong> {{ pokemon.weight | capfirst }}
                </li>
            </ul>  
        </div>
    </body>
</html>
{% endblock content %}