{% extends "base.html" %}
{% block title %}Inicio de Sesion{% endblock title %}
{% block content %}

<h1>Inicio de Sesion</h1>
<form method="post"
  {% csrf_token %}
  <div class="row d-flex justify-content-center">
    <div class="col-md-6">
    </div> <label for="id_username">Usuario:</label>
    <input type="text" name="username" id="id_username" class="form-control" required>
    <label for="id_password">Contraseña:</label>
    <input type="password" name="password" id="id_password" class="form-control" required>
  </div>
  <br>
  <button type="submit" class="btn btn-primary">Iniciar Sesion </button>

  </div>
</form>

{% endblock %}